@import '~antd/dist/antd.css';
@import 'antd/dist/antd.variable.min.css';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Bold.ttf');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

html {
  font-size: 62.5%;
  min-width: 1200px;
}

body {
  font-family: 'Inter', sans-serif;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 50.5%;
  }
}

.custom-popover-components {
  width: 236px;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-active,
.ant-dropdown-menu-item.ant-dropdown-menu-submenu-title-active,
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-item-active,
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-submenu-title-active,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #e8f9fe;
}

.filter-popover-whiteboard .ant-popover-inner-content {
  padding: 5px 0px 10px 0px;
  width: 200px;
}

.more-dropdown {
  top: 125px !important;
  left: 230px !important;
  width: 170px !important;
  z-index: 99999;
}

.more-dropdown-archived {
  top: 160px !important;
  width: 190px !important;
}

.more-dropdown ul {
  border: 1px solid #c7cbcf !important;
  box-shadow: 0px 10px 15px -6px #d0d5e0 !important;
  border-radius: 4px !important;
}

.modal-confirm .ant-modal-confirm .ant-modal-body {
  padding: 24px;
  box-shadow: 0px 12px 24px rgba(37, 42, 49, 0.24),
    0px 8px 60px rgba(37, 42, 49, 0.32);
  border-radius: 4px;
}

.modal-confirm .ant-btn {
  border: 1px solid #c7cbcf;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 83px;
  height: 44px;
  padding: 0px 16px;
}

.modal-confirm .ant-btn-dangerous {
  background: #eb373e;
  border: 1px solid #eb373e;
  color: #ffffff;
  width: min-content;
}

.modal-confirm .ant-btn-primary {
  width: min-content;
  color: #ffffff;
  background: #455DC7;
}

.modal-confirm .ant-btn-default {
  width: min-content;
}

.ant-upload {
  width: 100%
}
